Q1

In [1]:
import pandas as pd

In [2]:
s=pd.Series([ 4, 8, 15, 16, 23,42])

In [3]:
s

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2

In [4]:
l=[12,11,120,13,42,8,91,65,49,53]

In [5]:
s=pd.Series(list(l))

In [7]:
s

0     12
1     11
2    120
3     13
4     42
5      8
6     91
7     65
8     49
9     53
dtype: int64

Q3

In [8]:
data={'Name':['Alice','Bob','Claire'],
      'Age':[25,30,27],
      'Gender':['Female','Male','Female']
}

In [12]:
df=pd.DataFrame(data)

In [13]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4

A DataFrame is a two-dimensional data structure that can store data in a tabular format, with rows and columns. A Series is a one-dimensional data structure that can store data in a single column or row. Both DataFrame and Series are part of the pandas library, which is a popular tool for data analysis in Python.

In [15]:
#Example of DataFrame
data={'Name':['Samir','Prashil','Sanket','Laksh'],
      'Age':[20,18,19,21],
      'Id':[1,2,3,4]
}
df=pd.DataFrame(data)
print(df)

      Name  Age  Id
0    Samir   20   1
1  Prashil   18   2
2   Sanket   19   3
3    Laksh   21   4

In [16]:
#Example of Series
data=[12,17,22,15,10,31,97]
s=pd.Series(list(data))
print(s)

0    12
1    17
2    22
3    15
4    10
5    31
6    97
dtype: int64

Q5

In [20]:
#Functions use to manipulate data
#head - to see first five or n number of rows
#tail - to see last five or n number of rows
#describe - to see mean, max, min, etc.
#columns - to see the number of cloumns 
#iloc & loc - to retrive a particular rows and columns from the data.

Q6

Series, DataFrame, and Panel are data structures that are part of the pandas library, which is a popular tool for data analysis and manipulation in Python. All of these data structures are mutable in nature, which means that they can be modified or changed after they are created.

Q7

In [19]:
s1=pd.Series([1,9,12])
s2=pd.Series([22,34,62])
s3=pd.Series([11,8,7])
df=pd.DataFrame({'A':s1,'B':s2,'C':s3})
print(df)

    A   B   C
0   1  22  11
1   9  34   8
2  12  62   7